div{
height:100px;
width:100px;
background:yellow;
transition: width 10s, height 7s,background-color 8s transform 5s;
background-image:url("/home/student/Desktop/wd18/css/naruto.jpg");
background-repeat:no-repeat;
}
div:hover{
height:300px;
width:500px;
background:purple;
background-image:url("/home/student/Desktop/wd18/css/nar.gif");
background-repeat:no-repeat;
transform:rotate(360deg);
}
